<div class="animated fadeIn ">
    {{! This is the post loop - each post will be output using this markup }}
    {{#foreach posts}}
    <article class="post {{#if featured}}post--featured{{/if}}">
        <div class="post-preview col-xs-9  no-gutter">
            
            {{#if meta_description}}
                <h2><a href="{{url}}">{{meta_title}}</a></h2>
                <p>{{meta_description}}</p>
            {{else}}
                <h2><a href="{{url}}">{{title}}</a></h2>
                <p>{{excerpt words="28"}}</p>
            {{/if}}

            <p class="meta">
                <i class="fa fa-bolt metaicon"></i> {{#author}}
                <a href="{{url}}">{{name}}</a>
                {{/author}}
                {{tags prefix=" in "}}
            </p>
        </div>

        {{#if author.image}}
            <div class="col-xs-3 no-gutter main-img">
                <div style="background-image: url('{{image}}');" class="post-icon user-1" alt="feature-image"></div>
            </div>
        {{/if}}
    </article>
    {{/foreach}}
</div>


<footer class="split-footer">
    {{pagination}}
</footer>

