{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


<main class="container left-container">
    <div class="row">
        {{navigation}}
        {{> sidebar}}

        <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
            {{#author}}
            <div class="author-bio">
                {{#if image}}
                    <img src='{{image}}'>
                {{/if}}
                <div class="author-bio__info">
                    <h1>{{name}}</h1>

                    <ul class="author-links">
                        {{#if website}}
                        <li>
                            <i class="author-link fa fa-link"></i>
                            <a href="{{website}}">{{website}}</a>
                        </li>
                        {{/if}}
                        {{#if twitter}}
                        <li>
                            <i class="author-link fa fa-twitter"></i>
                            <a href="{{twitter_url}}">{{twitter}}</a>
                        </li>
                        {{/if}}
                        {{#if facebook}}
                        <li>
                            <i class="author-link fa fa-facebook"></i>
                            <a href="{{facebook_url}}">Facebook</a>
                        </li>
                        {{/if}}
                        {{#if twitter}}
                        <li>
                            <i class="author-link fa fa-twitter"></i>
                            <a href="{{twitter_url}}">Twitter</a>
                        </li>
                        {{/if}}
                    </ul>

                    {{#if bio}}
                        <p>{{{bio}}}<p>
                    {{/if}}
                </div>
            </div>
            <h2 class="favorites">Latest posts by {{name}} </h2>
            {{/author}}
            <div class="posts-block animated fadeIn author-page">
                <article class="author-page">
                <div class="animated fadeIn ">
                    {{#foreach posts}}
                    <article class="post {{#if featured}}post--featured{{/if}}">
                        <div class="post-preview col-xs-12  no-gutter">
                            <h2><a href="{{url}}">{{title}}</a></h2>
                            <p>{{excerpt words="28"}}</p>
                        </div>
                    </article>
                    {{/foreach}}
                </div>
                </article>
                <footer class="split-footer">
                    {{pagination}}
                </footer>

            </div>
        </div><!-- main content -->
    </div> <!--/row -->
</main> <!-- /container -->

