<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="{{asset "icons/favicon.ico"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{asset "icons/apple-touch-icon-57x57.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset "icons/apple-touch-icon-114x114.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset "icons/apple-touch-icon-72x72.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset "icons/apple-touch-icon-144x144.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{asset "icons/apple-touch-icon-60x60.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{asset "icons/apple-touch-icon-120x120.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{asset "icons/apple-touch-icon-76x76.png"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{asset "icons/apple-touch-icon-152x152.png"}}" />
    <link rel="icon" type="image/png" href="{{asset "icons/favicon-196x196.png" sizes="196x196"}}" />
    <link rel="icon" type="image/png" href="{{asset "icons/favicon-96x96.png" sizes="96x96"}}" />
    <link rel="icon" type="image/png" href="{{asset "icons/favicon-32x32.png" sizes="32x32"}}" />
    <link rel="icon" type="image/png" href="{{asset "icons/favicon-16x16.png" sizes="16x16"}}" />
    <link rel="icon" type="image/png" href="{{asset "icons/favicon-128.png" sizes="128x128"}}" />
    <meta name="application-name" content="Curiosity Motive"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{asset "icons/mstile-144x144.png"}}" />
    <meta name="msapplication-square70x70logo" content="{{asset "icons/mstile-70x70.png"}}" />
    <meta name="msapplication-square150x150logo" content="{{asset "icons/mstile-150x150.png"}}" />
    <meta name="msapplication-wide310x150logo" content="{{asset "icons/mstile-310x150.png"}}" />
    <meta name="msapplication-square310x310logo" content="{{asset "icons/mstile-310x310.png"}}" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "/js/vendor/jquery-1.11.2.min.js" }}"></script>
    <script type="text/javascript" src="{{asset "/js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js"}}"></script>
    <script type="text/javascript" src="{{asset "/js/vendor/jquery.jpanelmenu.min.js" }}"></script>
    <script type='text/javascript' src="{{asset "/js/vendor/fastclick.min.js" }}"></script>

    {{! The main JavaScript file for Writer }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script id="dsq-count-scr" src="//curiositymotive.disqus.com/count.js" async></script>

</body>
</html>
