{{!< default}}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{> full-header }}

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">
            <p class="meta">
                <i class="fa fa-bolt metaicon"></i> {{#author}}
                <a href="{{url}}">{{name}}</a>
                {{/author}}
                {{tags prefix=" in "}}
            </p>

            <h1>{{title}}</h1>

            {{content}}

            <hr class="disqus" />

            <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = 'curiositymotive';
                    var disqus_identifier = "{{ page.url }}";
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                                                    

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->

<footer class="single">
    {{> post-footer}}
</footer>


{{/post}}
